{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav>
    <div class="logo">
        <img src="{% static 'logo.jpg' %}" height="50">
    </div>
</nav>

<div class="container">
    <div class="form-wrapper">
        <h2 class="form-title">Login</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn" style="width: 100%;">Login</button>
        </form>

        <div class="form-footer">
            <p>Hesabın yok mu? <a href="{% url 'register_view' %}">Kayıt Ol</a></p>
            <p style="margin-top:10px;">
                <a href="{% url 'password_reset' %}" style="color: #3498db; font-size: 0.9em;">Şifremi Unuttum?</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>